@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opsiyonel: Temel font ve body stilleri */
body {
  font-family: 'Inter', sans-serif; /* Google Fonts'tan Inter gibi modern bir font kullanılabilir */
  background-color: #f3f4f6; /* Hafif gri bir arka plan */
  color: #333;
}